/* Dashboard Content */
.dashboard-content {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh; /* Ensure it takes the full viewport height */
  overflow: hidden; /* Prevent scrolling */
  background-color: #f4f4f4;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
/* Move the layer control to the left with a margin-top of 10px */
.leaflet-control-layers {
  margin-top: 70px !important; /* Add margin to the top */
  margin-left: 10px !important; /* Add margin to the left */

}
/* Sidebar on the Right */
.sidebar {
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, display 0.3s ease;
  z-index: 1000;
  position: absolute;
  right: 0;
}

.sidebar.collapsed {
  transform: translateX(100%);
  display: none; /* Hide the sidebar when collapsed */
}

.sidebar.open {
  transform: translateX(0);
  display: block; /* Show the sidebar when open */
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  color: #003278;
}

.sidebar-content {
  padding: 20px;
}

.region-option,
.wilaya-option,
.commune-option {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region-option:hover,
.wilaya-option:hover,
.commune-option:hover {
  background-color: #e9e9e9;
}

.dropdown-icon {
  font-size: 12px;
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.sidebar-footer button {
  background-color: #004ba0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-footer button:hover {
  background-color: #003278;
}

/* Sidebar Toggle Button */
.sidebar-toggle-button {
  position: absolute;
  top: 20px;
  right: 830px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1001;
}

/* Map Container */
.leaflet-container {
  flex: 1;
  height: calc(100vh - 56px); /* Adjust for navbar height */
  overflow: hidden; /* Prevent scrolling */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


/* Zoom Control at the Bottom */
.leaflet-control-zoom {
  margin-bottom: 20px; /* Adjust as needed */
}

/* Sub-Region List */
.sub-region-list {
  margin-left: 20px; /* Indent sub-regions */
  margin-top: 5px;
}

.commune-list {
  margin-left: 20px; /* Indent communes */
  margin-top: 5px;
}