.search-bar {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    position: absolute;
    top: 20px;
    left: 48px;
    z-index: 1001;
    width: 340px;
    transition: box-shadow 0.3s ease;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 26px;
    outline: none;
    font-size: 14px;
    color: #333;
    background-color: transparent;
  }
  
  .search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .search-bar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .search-icon {
    color: #666;
    font-size: 20px;
  }
  
  .search-results-dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 26px 26px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 800;
  }
  
  .search-results-dropdown li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-results-dropdown li:hover {
    background-color: #f1f1f1;
  }